body {
  text-align: center;
  background-color: #ffffff;
}

h1 {
  font-size: 5rem;
  color: #ffffff;
  font-family: "Gloria Hallelujah";
  text-shadow: 10px 0 #000000;
}

h2 {
  font-size: 1rem;
  color: #000000;
  font-family: "Gloria Hallelujah";
}

.a,
.s,
.d,
.f,
.j,
.k,
.l,
.p {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: inline-block;
}
.a {
  background-image: url("pics/kick.png");
}

.s {
  background-image: url("pics/snare.png");
}

.d {
  background-image: url("pics/hihat.png");
}

.f {
  background-image: url("pics/openhat.png");
}

.j {
  background-image: url("pics/clap.png");
}

.k {
  background-image: url("pics/ride.png");
}

.l {
  background-image: url("pics/glass.png");
}

.p {
  background-image: url("pics/hey.png");
}

.all {
  margin: 10% auto;
}

.animation {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.button {
  outline: none;
  border: 10px solid #000000;
  font-size: 4rem;
  font-family: "Gloria Hallelujah";
  line-height: 2;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 10px 0 #000000;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
